export HISTFILE=~/.sh_history
export HISTSIZE=10000
export SAVEHIST=10000
export HISTFILESIZE=10000
export HISTCONTROL=ignoreboth

export VISUAL=nvim
export EDITOR=nvim
export PAGER=less
export BROWSER=firefox
export TERMINAL="alacritty -e"

export GOPATH="$HOME/go"
export GOBIN="$GOPATH/bin"

export TMUXINATOR_CONFIG="$HOME/.config/tmuxinator"

export LESS_TERMCAP_mb=$'\E[01;31m'
export LESS_TERMCAP_md=$'\E[01;31m'
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_so=$'\E[01;44;33m'
export LESS_TERMCAP_ue=$'\E[0m'
export LESS_TERMCAP_us=$'\E[01;32m'

export XDG_DESKTOP_DIR="$HOME/Desktop"
export XDG_DOCUMENTS_DIR="$HOME/Documents"
export XDG_DOWNLOAD_DIR="$HOME/Downloads"
export XDG_MUSIC_DIR="$HOME/Music"
export XDG_PICTURES_DIR="$HOME/Pictures"
export XDG_PUBLICSHARE_DIR="$HOME/Public"
export XDG_TEMPLATES_DIR="$HOME/Templates"
export XDG_VIDEOS_DIR="$HOME/Videos"

export LD_LIBRARY_PATH=/usr/local/lib
export GCC_COLORS="error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01"
export PIPENV_MAX_DEPTH=100

[ $TERM != "tmux-256color" -a $TERM != "linux" ] && export TERM="xterm-256color"

export NODE_PATH="$HOME/.local/lib/node_modules"
[ ! -d $NODE_PATH ] && mkdir -p $NODE_PATH
export NPM_CONFIG_PREFIX="$HOME/.local"

export ASDF_PYTHON_VERSION="3.8.3"
export ASDF_NODEJS_VERSION="15.14.0"

export PATH="$HOME/.cargo/bin:$PATH"
export PATH="$HOME/local/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/.bin:$PATH"
export PATH="$HOME/bin:$PATH"

# export LANG=de_DE.UTF-8
# export LC_ALL=de_DE.UTF-8


# vi: ft=sh
