if [ -z $__ENV_LOADED ]; then
export HISTFILE=~/.sh_history
export HISTSIZE=10000
export SAVEHIST=10000
export HISTFILESIZE=10000
export HISTCONTROL=ignoreboth

export VISUAL=nvim
export EDITOR=nvim
export PAGER=less
export BROWSER=brave
export TERMINAL="alacritty -e"

export GOPATH="$HOME/go"
export GOBIN="$GOPATH/bin"

export TMUXINATOR_CONFIG="$HOME/.config/tmuxinator"

export LESS_TERMCAP_mb=$'\E[01;31m'
export LESS_TERMCAP_md=$'\E[01;31m'
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_so=$'\E[01;44;33m'
export LESS_TERMCAP_ue=$'\E[0m'
export LESS_TERMCAP_us=$'\E[01;32m'

export XDG_DESKTOP_DIR="$HOME/Desktop"
export XDG_DOCUMENTS_DIR="$HOME/Documents"
export XDG_DOWNLOAD_DIR="$HOME/Downloads"
export XDG_MUSIC_DIR="$HOME/Music"
export XDG_PICTURES_DIR="$HOME/Pictures"
export XDG_PUBLICSHARE_DIR="$HOME/Public"
export XDG_TEMPLATES_DIR="$HOME/Templates"
export XDG_VIDEOS_DIR="$HOME/Videos"

export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/local/lib"
export GCC_COLORS="error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01"
export PIPENV_MAX_DEPTH=100

export NODE_PATH="$HOME/.local/lib/node_modules"
export NPM_CONFIG_PREFIX="$HOME/.local"

export PYTHON_VERSION="3.10.0"
export NODEJS_VERSION="16.11.1"

export PATH="$HOME/.cargo/bin:$PATH"
export PATH="$HOME/local/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/.bin:$PATH"
export PATH="$HOME/bin:$PATH"

export __ENV_LOADED=true
fi

# vi: ft=sh
