export HISTFILE=~/.sh_history
export HISTSIZE=10000
export SAVEHIST=10000
export HISTCONTROL=ignoreboth

export VISUAL=nvim
export EDITOR=nvim
export PAGER=less
export BROWSER=firefox

export GOPATH="$HOME/go"
export GOBIN="$GOPATH/bin"

export PATH="$HOME/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/local/bin:$PATH"

export TMUXINATOR_CONFIG="$HOME/.config/tmuxinator"

export XDG_DESKTOP_DIR="$HOME/Desktop"
export XDG_DOCUMENTS_DIR="$HOME/Documents"
export XDG_DOWNLOAD_DIR="$HOME/Downloads"
export XDG_MUSIC_DIR="$HOME/Music"
export XDG_PICTURES_DIR="$HOME/Pictures"
export XDG_PUBLICSHARE_DIR="$HOME/Public"
export XDG_TEMPLATES_DIR="$HOME/Templates"
export XDG_VIDEOS_DIR="$HOME/Videos"

export LD_LIBRARY_PATH=/usr/local/lib
export PIPENV_MAX_DEPTH=100

export LANG=de_DE.UTF-8
export LC_ALL=de_DE.UTF-8

[ $TERM != "tmux-256color" ] && [ $TERM != "linux" ] && export TERM="xterm-256color"

export PYENV_VERSION="3.8.3"

export NODE_PATH="$HOME/.local/lib/node_modules"
export NPM_CONFIG_PREFIX="$HOME/.local"

export ZSH_FNM_NODE_VERSION="15.3.0"

# vi: ft=sh
